@import './components/Nav/Nav.css';
@import './components/Profile/Profile.css';

* , ::before, ::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --darkBlue: #06283D;
    --strongBlue: #1363DF;
    --blueSky: #47B5FF;
    --lightBlue: #DFF6FF;
}
body{
    margin: 0;
}

.home{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--lightBlue),var(--strongBlue));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-left-side{
    display: flex;
    width: 50vw;
}
.home-right-side{
    width: 50vw;
}
.btn{
    border: none;
    outline: none;
    background: none;
    padding: 0;

    cursor: pointer;
}